@model List<MvcProje.Models.Urun>
 
<h2>Ürün Listesi</h2>


<a asp-action="Ekle" type="button" class="btn btn-success">+Yeni Ürün Ekle</a>





<table class="table">
    <thead>
        <tr>
            <th>Ürün Adı</th>        
            <th>Fiyat</th>        
            <th>Kategori Adı</th>     
            <th>Düzenle</th>   
        </tr>
    </thead>

    <tbody>
        @foreach (var urun in Model)
        {
            <tr>  
                <td>@urun.Ad</td>
                <td>@urun.Fiyat</td>
                <td>@urun.Kategori.Ad</td>
                <td>
                    <a asp-action="Sil" asp-route-id="@urun.Id" type="button" class=" btn btn-outline-danger">Sil</a>
                </td>
            </tr>

        }
    </tbody>
</table>

